.services{
    margin-left:10%;
    width:80%;
}
.services ul li{
    list-style-type: none;
    text-align:left;
    margin-left:5%;
    margin-bottom:1%;
    font-size:140%;
    animation: appear 5s;

}
@keyframes appear{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}
.qrcode{
    height: 10%;
    width: 10%;
}