.form iframe{
    width:100%;
}
.badge{
    width:20vw;
    height:40%;
}
@media only screen and (max-width: 360px){
    .badge{
        width:60vw;
        height:40%;
    }
}
@media only screen and (max-width: 375px){
    .badge{
        width:60vw;
        height:50%;
    }
}
@media only screen and (max-width: 325){
    .badge{
        width:60vw;
        height:50%;
    }
}
@media only screen and (max-width: 414px){
    .badge{
        width:60vw;
        height:50%;
    }
}
@media only screen and (max-width: 1050px){
    .badge{
        width:60vw;
        height:50%;
    }
}