.payment{
    width:5%;
    height:5%;
}
.professional{
    width:5%;
    height:5%;
}
.car{
    width:10%;
    height:10%;
}
.pen{
    width:10%;
    height:10%;
}
.separator{
    width:5%;
    height:5%;
}